body{
    background: url('/images/a.png') no-repeat center center/cover;

}
.perfil-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.perfil-caja {
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 60px;
    max-width: 700px; 
    color: white;
    text-align: center;
}

.perfil-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
}

.editable-nombre {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.nombre-input {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: none;
    width: 100%;
}

#lapiz {
    position: absolute;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: 600;
}

input[type="name"] {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    outline: none;
}

.perfil-botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.perfil-boton {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    background: rgba(255,255,255,0.15);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.perfil-boton:hover {
    background: rgba(255,255,255,0.3);
}.avatar-wrapper {
    padding-left:25% ;
padding-bottom: 10px;
    position: relative;
    width: 150px;
    height: 150px;
}

.perfil-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.avatar-edit-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(255,255,255,0.85);
    color: black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
    display: none;
}

.avatar-wrapper:hover .avatar-edit-icon {
    display: block;
}
.btnvolver {
    color: white;
   display: flex;
   justify-content: start;

}
a {
    text-decoration: none;
  
}
a:hover {
    text-decoration: underline;
}
html, body {
    overflow: hidden;
    height: 100%;
}
